SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:mysql://HOST:3306/DATABASE?useSSL=false&serverTimezone=America/Santiago&characterEncoding=UTF-8&useUnicode=true
SPRING_DATASOURCE_USERNAME=USERNAME
SPRING_DATASOURCE_PASSWORD=PASSWORD